
 

  .login-container {
    min-width: 70%;
  }
  .col {
    min-height: 100vh;
  }
  h2 {
    text-align: center;
    padding: 30px;
  }
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
  h4 {
    font-size: 12px;
    padding-left: 40px;
  }
  .login-text {
    padding: 30px;
    margin: 20px;
  }
  .password-box {
    padding-bottom: 20px;
  }

  .user {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .group-icon {
    max-height: 80%;
    max-width: 80%;
    border-radius: 50%;
  }
  .enter-text {
    padding: 10px;
    color: rgb(171, 173, 178);
    background-color: rgb(131, 131, 140);
    position: relative;
    border-radius: 3px;
    bottom: 10px;
  }